.container{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: orchid;
    gap: 16px;
    height: 100vh;
}

*{
    margin:0;
    padding: 0;
}
.box{
    width: 200px;
    height: 200px;
    background-color: aqua;
}

.container :nth-child(even){
    background-color: palegreen;
}